<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <property name="consoleLogPattern"
              value="%date{ISO8601, UTC} [%thread] %highlight(%level{5}) %cyan(%logger{10}) - %msg%n%ex{full}%xEx{full}"/>
    <property name="fileLogPattern"
              value="%date{ISO8601, UTC} [%thread] %level{5} %logger{10} - %msg%n%ex{full}%xEx{full}"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/.qq-mht2html/log/qq-mht2html.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${user.home}/.qq-mht2html/log/qq-mht2html-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>14</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${fileLogPattern}</pattern>
        </encoder>
    </appender>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${consoleLogPattern}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
